*{
    margin: 0px;
    padding: 0px;
}
.container-fluid{
    width: 100%;
    height: 100vh;
    background-image: url('https://imgv3.fotor.com/images/share/Free-blue-gradient-pattern-background-from-Fotor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cal{
    padding: 20px;
    border-radius: 10px;
}
.cal form input{
    border: 0px;
    outline: 0px;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    /* cursor: pointer; */
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}
form .display{
    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
}